@import "tailwindcss";

@theme {
  --color-custom-red-1: #e03137;
  --color-custom-primary-black: #21252b;
  --max-width-8xl: 1920px;
}

.mantine-Input-input::placeholder,
.mantine-PasswordInput-innerInput::placeholder,
.mantine-TagsInput-inputField::placeholder,
.mantine-DateInput-input::placeholder,
.mantine-Textarea-input::placeholder,
.mantine-TimeInput-input::placeholder {
  font-size: 14px !important;
}

button {
  cursor: pointer;
}
